.product {
  &__title {
    margin: 0 0 8px;
  }

  &__photo {
    width: 100%;
    margin-bottom: 24px;
  }

  &__description {
    @include monoNormal;

    margin: 0 0 12px;

    &--phone::before {
      content: 'Designed with instinct, to bring joy back to the everyday. ';

      @include onDesktop {
        content: '';
      }
    }
  }

  &__price {
    margin: 0;
  }
}
